h1 {
  margin: 20px;
  text-align: center;
}

.main-content {
  display: flex;
  flex-flow: row;
}


/* ============== Add Games Form ===============*/
.add-game {
  width: 20%;
  margin: 10px 20px;
}


/* =============== Games Table =============== */
.games-list {
  width: 60%;
  margin: 10px 20px;
}

.games-table {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  font-size: 12pt;
  margin: 0.5rem;
  line-height: 1.5;
  flex: 1 1 auto;
  height: 400px;
  overflow: auto;
}

.games-table thead {
  font-weight: 700;
  position: sticky;
  top: 0;
}

.games-table tr {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
}

.games-table td, th {
  display: flex;
  flex-flow: row nowrap;
  flex-grow: 1;
  flex-basis: 0;
  padding: 0.5em;
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0px;
  white-space: nowrap;
  border-bottom: 1px solid darkgray
}


/* =============== Categories Table =============== */
.category {
  width: 20%;
  margin: 10px 20px
}

.category-list {
  margin-top: 30px;
}

.category-name {
  padding: 0.5em;
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0px;
  white-space: nowrap;
}

.category-data {
  padding: 0.5em;
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0px;
  white-space: nowrap;
}


/* =========== Get Random Game =========== */
.get-random {
  margin: 0px auto;
  width: 53%;
  padding: 20px;
  text-align: center;
}

.get-random label[for='favorite'] {
  margin-left: 20px;
}

#favorite {
  margin-right: 20px;
}


/* ============= Chosen Game ============ */
.selected-game {
  width: 70%;
  margin: 10px auto;
  text-align: center;
}